# LaTeX build artifacts
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.out
*.pdfsync
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdv

# Generated documents
*.dvi
*.ps

# Build directories
_minted*/
auto/
build/
